# LuxCore standard template for FreeCAD-render
#
# LuxCore requires 2 input files:
# - a configuration file, with rendering parameters (engine, sampler...)
# - a scene file, with the scene objects (camera, lights, meshes...)
# For more convenience, our template file is all-in-one, with 2 sections
# that will be split up at rendering.

[Configuration]
renderengine.seed = 1
film.width = 960
film.height = 540
film.imagepipelines.0.0.type = TONEMAP_AUTOLINEAR
film.imagepipelines.1.0.type = TONEMAP_REINHARD02
film.imagepipelines.2.0.type = NOP

[Scene]
scene.lights.__BACKGROUND__.type = "constantinfinite"
scene.lights.__BACKGROUND__.color = 0.3 0.3 0.3
scene.lights.__BACKGROUND__.gain = 1.0 1.0 1.0
# RaytracingContent
